


.container{
    width: 300px;
    margin: auto;
    text-align: center;
}

.clock{
    text-align: center;
    border: 5px solid rgba(189, 183, 107, 0.504);
    border-radius: 10px;
    background-color: rgb(89, 113, 42); 
   
}

#time{
    font-size: 40px;
    text-align: center;
    color: aliceblue;
     
}


#stop , #go{
    border: 2px solid rgba(189, 183, 107, 0.679);
    border-radius: 5px;
}


