doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 나의 첫 번째 퍼그 문서
        style(type="text/css").
            .box{ width: 100px; height:100px;  background: tomato;} 
    body 
        p(id="text") 하하하하하
        p(id="text",class="t") 하하하하하
        p#text.text 하하하하하
        
        .box 

        