doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 웹소켓 사용해보자
    //- link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/static/home.css")
  body  
    h1 PRIVATE CHAT
    form
      input(type="text", required, placeholder="MESSAGE...") 
      button SEND
    
    ul 
    script(src="/static/script.js") 